<a href="https://colab.research.google.com/github/alexkardan/Data110/blob/main/Project_1_Dataset_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import gdown
from google.colab import drive
drive.mount('/content/drive')
from matplotlib.ticker import FuncFormatter

Mounted at /content/drive

In [2]:
file_id = '1wHr8XDF72ILTzVty_NFf6qQFRnRP8Oq3'

# Create the correct download URL
download_url = f'https://drive.google.com/uc?id={file_id}'

# Specify the file name for saving
output = 'your_file.csv'  # Use 'your_file.xlsx' if it's an Excel file

# Download the file from Google Drive
gdown.download(download_url, output, quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1wHr8XDF72ILTzVty_NFf6qQFRnRP8Oq3
To: /content/your_file.csv
100%|██████████| 34.4M/34.4M [00:00<00:00, 59.6MB/s]

'your_file.csv'

In [3]:
df = pd.read_csv('your_file.csv')

This dataset is border crossings both legal and undocumented immigrants to each state from 1996 to 2019. I chose this dataset as with immigration being such a contentious topic in modern day politics I wanted to understand is this issue truly something that effects the average person that is truly a widespread issue across the US or not. I aimed to explore whether immigration is a widespread issue affecting the general population and whether states bordering Mexico, such as Arizona and Texas, experience significantly higher crossing rates than states like California, which is known for its relatively lenient border policies.

In [4]:
Border_crossing = pd.read_csv('your_file.csv')

# Display the first few rows of the DataFrame
df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Location
0,Calexico East,California,2507,US-Mexico Border,3/1/2019 0:00,Trucks,34447,POINT (-115.48433000000001 32.67524)
1,Van Buren,Maine,108,US-Canada Border,3/1/2019 0:00,Rail Containers Full,428,POINT (-67.94271 47.16207)
2,Otay Mesa,California,2506,US-Mexico Border,3/1/2019 0:00,Trucks,81217,POINT (-117.05333 32.57333)
3,Nogales,Arizona,2604,US-Mexico Border,3/1/2019 0:00,Trains,62,POINT (-110.93361 31.340279999999996)
4,Trout River,New York,715,US-Canada Border,3/1/2019 0:00,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346733 entries, 0 to 346732
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Port Name  346733 non-null  object
 1   State      346733 non-null  object
 2   Port Code  346733 non-null  int64
 3   Border     346733 non-null  object
 4   Date       346733 non-null  object
 5   Measure    346733 non-null  object
 6   Value      346733 non-null  int64
 7   Location   346733 non-null  object
dtypes: int64(2), object(6)
memory usage: 21.2+ MB

In [6]:
unique_states = Border_crossing['State'].unique()
print(unique_states)

total_crossings_by_state = Border_crossing.groupby('State')['Value'].sum().reset_index()
print(total_crossings_by_state.sort_values(by='Value', ascending=False))

Border_crossing.head

['California' 'Maine' 'Arizona' 'New York' 'North Dakota' 'Texas'
 'Montana' 'Minnesota' 'Vermont' 'Washington' 'Idaho' 'Michigan'
 'New Mexico' 'Alaska' 'Ohio']
           State       Value
12         Texas  3633098966
2     California  2499521716
1        Arizona   888075092
9       New York   827170661
5       Michigan   753167571
14    Washington   501550846
4          Maine   231249782
13       Vermont   114257813
6      Minnesota    95764039
10  North Dakota    75722499
8     New Mexico    64936274
7        Montana    54160434
3          Idaho    20998428
0         Alaska    13920348
11          Ohio         373

<bound method NDFrame.head of             Port Name         State  Port Code            Border  \
0       Calexico East    California       2507  US-Mexico Border
1           Van Buren         Maine        108  US-Canada Border
2           Otay Mesa    California       2506  US-Mexico Border
3             Nogales       Arizona       2604  US-Mexico Border
4         Trout River      New York        715  US-Canada Border
...               ...           ...        ...               ...
346728         Norton       Vermont        211  US-Canada Border
346729       Columbus    New Mexico       2406  US-Mexico Border
346730       Hansboro  North Dakota       3415  US-Canada Border
346731  Calexico East    California       2507  US-Mexico Border
346732       Presidio         Texas       2403  US-Mexico Border

                 Date                      Measure  Value  \
0       3/1/2019 0:00                       Trucks  34447
1       3/1/2019 0:00         Rail Containers Full    428
2       3/1/2019 0:00                       Trucks  81217
3       3/1/2019 0:00                       Trains     62
4       3/1/2019 0:00  Personal Vehicle Passengers  16377
...               ...                          ...    ...
346728  1/1/1996 0:00  Personal Vehicle Passengers   9119
346729  1/1/1996 0:00            Personal Vehicles  29486
346730  1/1/1996 0:00         Rail Containers Full      0
346731  1/1/1996 0:00                        Buses      0
346732  1/1/1996 0:00                       Trucks    347

                                     Location
0        POINT (-115.48433000000001 32.67524)
1                  POINT (-67.94271 47.16207)
2                 POINT (-117.05333 32.57333)
3       POINT (-110.93361 31.340279999999996)
4        POINT (-73.44253 44.990010000000005)
...                                       ...
346728                   POINT (-71.79 45.01)
346729                  POINT (-107.63 31.78)
346730                      POINT (-99.35 49)
346731                  POINT (-115.39 32.67)
346732      POINT (-104.39000000000001 29.56)

[346733 rows x 8 columns]>

There is a wide range in terms of how many border crossing in the top 10 going from around 700 million to 3.6 billion crossings. These high numbers are likely because there are millions of undocumented immigrants, legal immigrants etc. and also that there are goods imported into the US because of the NAFTA trade agreements when goods are imported it counts as a border crossing. It also includes people coming temporarily like toursists or business travelers or family coming to visit several times in a year that counts as several times crossing the border

In [7]:
States = Border_crossing['State']
States

0           California
1                Maine
2           California
3              Arizona
4             New York
              ...
346728         Vermont
346729      New Mexico
346730    North Dakota
346731      California
346732           Texas
Name: State, Length: 346733, dtype: object

In [8]:
Top_states

NameError: name 'Top_states' is not defined

In [ ]:
total_crossings_by_state = Border_crossing.groupby('State')['Value'].sum().reset_index()

Top_states = total_crossings_by_state.sort_values(by='Value', ascending=False).head(10)

plt.figure(figsize=(10, 6))
sns.barplot(x='State', y='Value', data=Top_states)
plt.title('Total Border Crossings of Top 10 States')
plt.xlabel('State')
plt.ylabel('Total Crossings')

def format_func(x, _):
    return f'{int(x):,}'

plt.gca().yaxis.set_major_formatter(FuncFormatter(format_func))
plt.grid(axis='y')
plt.xticks(rotation=45)
plt.show()

A bar chart was used as its a great way to see a distribution of all border crossings from the highest to lowest among the top 10 states. This is an easy way to visually see the most prominent states when it comes to how many border crossings there are.

In [ ]:
plt.figure(figsize=(10, 15))
plt.pie(Top_states['Value'], labels=Top_states['State'], autopct='%1.1f%%', startangle=140)
plt.title('Total Border Crossings by State (Top 10 States)')
plt.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
plt.show()

Because the top 10 states make up over 98.4% of all border crossings a pie chart allows to show the proportion by percentage of each state compared to one another in an easy to understand manner

In [ ]:
top_states_total = Top_states['Value'].sum()

# Step 2: Calculate total crossings for all states
overall_total_crossings = Border_crossing['Value'].sum()

# Step 3: Calculate the percentage of crossings for the top 10 states
top_states_percentage = (top_states_total / overall_total_crossings) * 100

print(f"Percentage of total border crossings by the top 10 states: {top_states_percentage:.2f}%")

In [ ]:
plt.figure(figsize=(10, 6))

# Plotting with states on x-axis and values on y-axis
sns.lineplot(x='State', y='Value', data=Top_states, marker='o')

plt.title('Total Border Crossings for Top 10 States')
plt.xlabel('State')
plt.ylabel('Total Crossings')

# Formatting the y-axis to display whole numbers
def format_func(x, _):
    return f'{int(x):,}'

plt.gca().yaxis.set_major_formatter(FuncFormatter(format_func))
plt.grid()
plt.xticks(rotation=45)
plt.show()

I did a lineplot to show the drastic difference between Texas and California to all of the other states to highlight how many more border crossings occur in these two states compared to the other 8 states